<div class="collection__item">
  <article class="publication" id="{{ post.itemname }}">
  <div class="title">
    {%- if post.fileurl -%}
    <a href="{{ post.fileurl }}">{{ post.title }}</a>
    {%- else -%}
    {{ post.title }}
    {%- endif -%}
  </div>
  {%- if post.authors -%}
  <div class="authors">
    {{ post.authors }}
  </div>
  {%- endif -%}
  {%- if post.venue_short -%}
  <div class="venue">
  {{ post.venue_short }}
  </div>
  {%- endif -%}
  <br/>
  {%- if post.slidesurl or post.codeurl or post.codeurls -%}
  <ul class="links">
    <li class="slidesurl">
    {%- if post.slidesurl -%}
    <a href="{{ post.slidesurl }}">Slides</a>
    {%- endif -%}
    </li>
    {%- if post.codeurls -%}
    <li class="codeurl_list">
    {%- for url in post.codeurls -%}
    <div><a href="{{ url[1] }}">{{ url[0] }}</a></div>
    {%- endfor -%}
    </li>
    {%- elsif post.codeurl -%}
    <li class="codeurl">
    <a href="{{ post.codeurl }}">Code</a>
    </li>
    {%- endif -%}
  </ul>
  {%- endif -%}
  <div class="summary">
  {{ post.summary }}
  </div>
  </article>
</div>
